
.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.letter-container {
  display: inline-block;
  width: 5px;
  height: 10px;
  margin: 30px auto;
  border: 1px solid black;
  padding: 20px;
}
